<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>ng-conf 2016</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/league.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>ng-conf</h2>
					<img data-src="http://scottjbos.github.io/NgConfPresentation/img/ngconf-logo.png">
					<div>May 3rd - 6th 2016</div>
					<div>Salt Lake City, Utah</div>
				</section>
				
				<section>
					<section>
						<h2>Keys of Angular 2</h2>
						<ul>
							<li class="fragment">Performance</li>
							<li class="fragment">Modules, Components, & Templates</li>
							<li class="fragment">Data Binding & Structural Directives</li>
							<li class="fragment">Services & Dependency Injection</li>

							<li class="fragment">Languages (TypeScript, ES6, ES5)</li>
							<li class="fragment">Tidbits</li>
						</ul>

					</section>
					<section>
						<h2>Performance</h2>
						<ul>
							<li>Angular 2 is lean and fast</li>
							<div>
								<img class="side-by-side-slides" data-src="http://scottjbos.github.io/NgConfPresentation/img/small.jpg"/>
								<img class="side-by-side-slides" data-src="http://scottjbos.github.io/NgConfPresentation/img/rendering.jpg"/>
							</div>
						</ul>
					</section>


					<section>
						<h2>Modules</h2>
						<ul>
							<li>Import classes using module loading</li>
							<li>No need to add script tags</li>
							<li>Module loading uses module.id for components, making paths contextual</li>

						</ul>
							<pre><code>
import { Component, OnInit } from '@angular/core';
import { Hero } from './hero';
import { HeroDetailComponent } from './hero-detail.component';
import { HeroService } from './hero.service';

@Component({
  moduleId: module.id,
  selector: 'my-app',
  template: ...
							</code></pre>
					</section>
					<section>
						<h2>Components & Templates - Simplicity</h2>
						<table>
							<thead>
								<tr>
									<td><h3>Angular 1</h3></td>
									<td><h3>Angular 2</h3></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>43 Directives</td>
									<td>[] and ()</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section>
						<h2>Components & Templates - The Details</h2>
						<ul>
							<li>Your app will be a tree of components</li>
							<li>Components are like directives with a template</li>
							<li>Decorators, such as @Component, specify which properties the component binds, i.e. the selector</li>
							<li>Each component requires a single @Component annotation</li>
							<li>Components are encapsulated, thereby scoping your CSS styles for instance</li>
						</ul>
						<pre><code>
@Component({
  moduleId: module.id,
  selector: 'quest-summary',
  templateUrl: 'quest-summary.component.html',
  styleUrls:  ['quest-summary.component.css']
})
export class QuestSummaryComponent { }
						</code></pre>

					</section>

					<section>
						<h2>Data Binding & Structural Directives</h2>
						<ul>
							<li>() for input, [] for output</li>
							<li>[(ngModel)] for two-way binding</li>
							<li>Structural directives are prefixed with *, such as *ngIf and *ngFor</li>
						</ul>
						<pre><code>
&lt;div *ngIf=&quot;hero&quot;&gt;
  &lt;h2&gt;{{hero.name}} details!&lt;/h2&gt;
  &lt;div&gt;&lt;label&gt;id: &lt;/label&gt;{{hero.id}}&lt;/div&gt;
  &lt;div&gt;
	&lt;label&gt;name: &lt;/label&gt;
	&lt;input [(ngModel)]=&quot;hero.name&quot; placeholder=&quot;name&quot;/&gt;
  &lt;/div&gt;
&lt;/div&gt;
						</code></pre>
					</section>
					<section>
						<h2>Services & Dependency Injection</h2>
						<ul>
							<li>Services are just classes</li>
							<li>Services are annotated with @Injectable</li>
							<li>Constructor injection is then used within the component</li>
						</ul>
						<pre><code>
(hero.service.ts)
import { Injectable } from '@angular/core';

@Injectable()
export class HeroService {
  getHeroes() {
    return Promise.resolve(HEROES);
  }
}

(app.component.ts)
import { Component, OnInit } from '@angular/core';
import { Hero } from './hero';
import { HeroDetailComponent } from './hero-detail.component';
import { HeroService } from './hero.service';
@Component({
  selector: 'my-app',
  template: ...

  directives: [HeroDetailComponent],
  providers: [HeroService]
})
export class AppComponent implements OnInit {
  title = 'Tour of Heroes';
  heroes: Hero[];
  selectedHero: Hero;
  constructor(private heroService: HeroService) { }
  ngOnInit() {
    this.heroes = this.heroService.getHeroes();
  }
}
						</code></pre>
					</section>

					<section>
						<h2>Languages (TypeScript, ES6, ES5)</h2>
						<ul>
							<li><a href="http://www.typescriptlang.org/play/">TypeScript</a> is a superset of javascript</li>
							<li> ES6/ES 2015 contains: Maps/sets, classes, block scope, destructuring, arrow functions, modules, default/rest parameters</li>
							<li>TypeScript is transpiled into very clean and efficient javascript</li>
						</ul>
						<img class="typescript-image" data-src="http://scottjbos.github.io/NgConfPresentation/img/typescript.jpg">
					</section>
					 <section>
						<h2>Tidbits</h2>
						 <pre><code>
@Component({
	selector: 'my-app',
	template:`
	&lt;h1&gt;{{title}}&lt;/h1&gt;
	&lt;h2&gt;{{hero.name}} details!&lt;/h2&gt;
	`
})
						 </code></pre>
						 <ul>
							 <li>Use the ` for multi-line templates with the @Component decorator</li>
							 <li>It's all about <a href="https://egghead.io/lessons/rxjs-rxjs-observables-vs-promises">Observables</a>
								 <ul><li>Observables are lazy - code will not fire if result not used (i.e. source.forEach...)</li>
									 <li>Cancelable - observables embody the setup and also the teardown</li>

							 </ul></li>
						 </ul>
					</section>
				</section>

				<section>
					<section>
						<h2><a href="https://cli.angular.io/">Angular CLI</a></h2>
						<img class="clingon-image" src="http://scottjbos.github.io/NgConfPresentation/img/clingon.JPG"/>
					</section>

					<section>
						<img class="clingon-image" src="http://scottjbos.github.io/NgConfPresentation/img/angularCliBarrier.PNG"/>
					</section>
					<section>
						<h2>The Angular CLI makes setup a one line</h2>
						<pre><code>
ng new heroes-app
						</code></pre>	
					</section>
					<section>
						<h2>Getting started with Angular CLI</h2>
						<pre><code>
npm install -g angular-cli
ng new heroes-app
cd heroes-app
ng serve
						</code></pre>	
					</section>
					<section>
						<h2>What else can Angular CLI do?</h2>
						<pre class="fragment"><code>
ng build
						</code></pre>	
						<pre class="fragment"><code>
ng test
						</code></pre>	
						<pre class="fragment"><code>
ng e2e
						</code></pre>
						<pre class="fragment"><code>
ng serve
						</code></pre>
						<pre class="fragment"><code>
ng deploy
						</code></pre>
					</section>
					<section>
						<a href="https://twitter.com/Brocco">Mike Brocchi</a> does a great job showing off many of the features of the <a href="https://youtu.be/wHZe6gGI5RY">Angular CLI</a>.	
					</section>
				</section>
				
				<section>
					Angular Universal
				</section>

				<section>
					Angular Material
				</section>

				<section>
					Angular Mobile
				</section>

				<section>
					<h2><a href="https://www.nativescript.org/ng-conf">NativeScript</a></h2>
					<div>NativeScript is a framework for building native iOS and Android apps using JavaScript and CSS - in this case Angular 2. NativeScript renders UIs with the native platform’s rendering engine — no WebViews — resulting in native-like performance and UX.</div>
					<div>The result is a software architecture that allows you to build mobile apps using the same framework—and in some cases the same code — that you use to build Angular 2 web apps, with the performance you’d expect from native code. Let’s look at how it all works by building an app.</div>
					<img data-src="http://scottjbos.github.io/NgConfPresentation/img/nativescript.png"/>
				</section>

				<section>
					<h2>Tools to write Angular 2</h2>
						<ul>
							<li>Visual Studio Code</li>
							<li>Web Storm</li>
							<li>Intellij</li>
							<li>Visual Studio</li>
						</ul>
				</section>
				
				<section>
					<h2>Looks Cool, where should I start?</h2>
					<div class="fragment">
						<div><a href="https://angular.io/docs/ts/latest/tutorial/"> Tour of Heroes</a></div>
						<img src="http://scottjbos.github.io/NgConfPresentation/img/heroes.jpg"/>
					</div>
				</section>

				<section>
					<h2>Resources</h2>
					<ul>
						<li><a href="https://www.youtube.com/playlist?list=PLOETEcp3DkCq788xapkP_OU-78jhTf68j">ng-conf 2016 YouTube Channel</a></li>
						<li><a href="https://docs.google.com/presentation/d/1W2VM-sv-pkEY_G8HSXKhkQif8aScBtLygam6GKNroNE/edit#slide=id.p">Building Single Page Applications with Angular 2 - John Papa, Dan Wahlin (slides)</a></li>
						<li><a href="https://docs.google.com/presentation/d/1ctVafwlb8tZFYe0q_RZoLse9hU8mZzW9HhZoUBuHhAE/edit#slide=id.p">TypeScript: Angular 2's Secret Weapon - Dan Wahlin (slides)</a></li>
						<li><a href="https://angular.io/docs/ts/latest/guide/">Angular 2 Documentation</a></li>
						<li><a href="https://angular.io/styleguide">Angular 2 Style Guide</a></li>
						<li><a href="https://augury.angular.io/">Angular Augury - A Google Chrome Dev Tools Extension</a></li>
-------------------------------------------------------------------------------
						<li><a href="https://docs.google.com/presentation/d/1GII-DABSG5D7Yhik4Be5RvL6IXPt-Kg8lXFLnxkhKsU/edit#slide=id.g128d8fde34_1_2">Angular Keynote (slides - May 4th)</a></li>
						<li><a href="https://docs.google.com/presentation/d/1W0hgEQ5RwigKk4Q4dx03hUkLC7dnQnjUtdwEEK50vvA/edit#slide=id.g128d8fde34_1_2">Angular 2 Router - Misko Hevery (slides)</a></li>
-------------------------------------------------------------------------------
						<li><a href="https://github.com/mikedice/ngconf2016-slides/blob/master/ngconf-slides.md">Useful compendium of all videos, code repos, and slides</a></li>
					</ul>
				</section>

			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,
				width: 1024,
				height: 700,

//				// Parallax background image
//				parallaxBackgroundImage: 'http://scottjbos.github.io/NgConfPresentation/img/IMG_0640.JPG', // e.g. "https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg"
//
//				// Parallax background size
//				parallaxBackgroundSize: '13632px 2936px', // CSS syntax, e.g. "2100px 900px" - currently only pixels are supported (don't use % or auto)

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
