<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>ng-conf 2016</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/league.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>ng-conf</h2>
					<img data-src="http://scottjbos.github.io/NgConfPresentation/img/ngconf-logo.png">
					<div>May 3rd - 6th 2016</div>
					<div>Salt Lake City, Utah</div>
				</section>
				<section>
					<img class="trip-photo" data-src="http://scottjbos.github.io/NgConfPresentation/img/trip-pics/1.jpg">
				</section>
				
				<section>
					<section>
						<img id="angular" data-src="http://scottjbos.github.io/NgConfPresentation/img/angular.png">
						<h3>Angular 1 should be though of as a framework. Angular 2 should be thought of as a <span style="font-weight: bold; color: red">platform</span></h3>
					</section>
					<section>
						<h2>Keys of Angular 2</h2>
						<ul>
							<li class="fragment"><a href="#/performance">Performance</a></li>
							<li class="fragment"><a href="#/modules">Modules,</a> <a href="#/components">Components, & Templates</a></li>
							<li class="fragment"><a href="#/data-binding">Data Binding & Structural Directives</a></li>
							<li class="fragment"><a href="#/services">Services & Dependency Injection</a></li>

							<li class="fragment"><a href="#/typescript">Languages (TypeScript, ES6, ES5)</a></li>
							<li class="fragment"><a href="tidbits">Tidbits</a></li>
						</ul>

					</section>
					<section id="performance">
						<h2>Performance</h2>
						<ul>
							<li>Angular 2 is lean and fast</li>
							<div>
								<img class="side-by-side-slides" data-src="http://scottjbos.github.io/NgConfPresentation/img/small.jpg"/>
								<img class="side-by-side-slides" data-src="http://scottjbos.github.io/NgConfPresentation/img/rendering.jpg"/>
							</div>
						</ul>
					</section>
					<section>
						<h2>Lazy Loading is Built-In</h2>
						<p>A big goal the Angular team had was to achieve automatic lazy loading. This ensures our applications only load what is necessary for the current page. Lazy loading is also included when routing our applications.</p>
					</section>

					<section id="modules">
						<h2>Modules</h2>
						<ul>
							<li>Import classes using module loading</li>
							<li>No need to add script tags</li>
							<li>Module loading uses module.id for components, making paths contextual</li>

						</ul>
							<pre><code>
import { Component, OnInit } from '@angular/core';
import { Hero } from './hero';
import { HeroDetailComponent } from './hero-detail.component';
import { HeroService } from './hero.service';

@Component({
  moduleId: module.id,
  selector: 'my-app',
  template: ...
							</code></pre>
					</section>
					<section id="components">
						<h2>Components & Templates - Simplicity</h2>
						<table>
							<thead>
								<tr>
									<td><h3>Angular 1</h3></td>
									<td><h3>Angular 2</h3></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>43 Directives</td>
									<td>[] and ()</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section>
						<h2>Components & Templates - The Details</h2>
						<ul>
							<li>Your app will be a tree of components</li>
							<li>Components are like directives with a template</li>
							<li>Decorators, such as @Component, specify which properties the component binds, i.e. the selector</li>
							<li>Each component requires a single @Component annotation</li>
							<li>Components are encapsulated, thereby scoping your CSS styles for instance</li>
						</ul>
						<pre><code>
@Component({
  moduleId: module.id,
  selector: 'quest-summary',
  templateUrl: 'quest-summary.component.html',
  styleUrls:  ['quest-summary.component.css']
})
export class QuestSummaryComponent { }
						</code></pre>

					</section>

					<section id="data-binding">
						<h2>Data Binding & Structural Directives</h2>
						<ul>
							<li>() for input, [] for output</li>
							<li>[(ngModel)] for two-way binding</li>
							<li>Structural directives are prefixed with *, such as *ngIf and *ngFor</li>
						</ul>
						<pre><code>
&lt;div *ngIf=&quot;hero&quot;&gt;
  &lt;h2&gt;{{hero.name}} details!&lt;/h2&gt;
  &lt;div&gt;&lt;label&gt;id: &lt;/label&gt;{{hero.id}}&lt;/div&gt;
  &lt;div&gt;
	&lt;label&gt;name: &lt;/label&gt;
	&lt;input [(ngModel)]=&quot;hero.name&quot; placeholder=&quot;name&quot;/&gt;
  &lt;/div&gt;
&lt;/div&gt;
						</code></pre>
					</section>
					<section id="services">
						<h2>Services & Dependency Injection</h2>
						<ul>
							<li>Services are just classes</li>
							<li>Services are annotated with @Injectable</li>
							<li>Constructor injection is then used within the component</li>
						</ul>
						<pre><code>
(hero.service.ts)
import { Injectable } from '@angular/core';

@Injectable()
export class HeroService {
  getHeroes() {
    return Promise.resolve(HEROES);
  }
}

(app.component.ts)
import { Component, OnInit } from '@angular/core';
import { Hero } from './hero';
import { HeroDetailComponent } from './hero-detail.component';
import { HeroService } from './hero.service';
@Component({
  selector: 'my-app',
  template: ...

  directives: [HeroDetailComponent],
  providers: [HeroService]
})
export class AppComponent implements OnInit {
  title = 'Tour of Heroes';
  heroes: Hero[];
  selectedHero: Hero;
  constructor(private heroService: HeroService) { }
  ngOnInit() {
    this.heroes = this.heroService.getHeroes();
  }
}
						</code></pre>
					</section>

					<section id="typescript">
						<h2>Languages (TypeScript, ES6, ES5)</h2>
						<ul>
							<li><a href="http://www.typescriptlang.org/play/">TypeScript</a> is a superset of javascript</li>
							<li>ES6/ES 2015 contains: Maps/sets, classes, block scope, destructuring, arrow functions, modules, default/rest parameters</li>
							<li>TypeScript is transpiled into very clean and efficient javascript</li>
						</ul>
						<img class="typescript-image" data-src="http://scottjbos.github.io/NgConfPresentation/img/typescript.jpg">
					</section>
					<section>
						<h2>TypeScript has Types!</h2>
						<img class="types" data-src="http://scottjbos.github.io/NgConfPresentation/img/typescript-types.jpg">
					</section>
					<section>
						<h2>TypeScript Core Types</br>(optional but very helpful)</h2>
						<div>string, number, boolean, Array, any Custom types</div>
						<pre><code>
name: string;
age: number;
isEnabled: boolean;
pets: string[];
accessories: string | string[];
customer: ICustomer;
						</code></pre>
					</section>
					<section>
						<h2>More About TypeScript</h2>
						<ul>
							<li>Tooling support - code help/intellisense, refactoring, peek/to go, find references</li>
							<li>TypeScript has Interfaces and Generics</li>
							<li>Dan Wahlin has a great talk on <a href="https://www.youtube.com/watch?v=e3djIqAGqZo">TypeScript: Angular 2's Secret Weapon</a> with <a href="https://docs.google.com/presentation/d/1ctVafwlb8tZFYe0q_RZoLse9hU8mZzW9HhZoUBuHhAE/edit#slide=id.p">slides</a></li>
						</ul>

					</section>
					 <section id="tidbits">
						<h2>Tidbits</h2>
						 <pre><code>
@Component({
	selector: 'my-app',
	template:`
	&lt;h1&gt;{{title}}&lt;/h1&gt;
	&lt;h2&gt;{{hero.name}} details!&lt;/h2&gt;
	`
})
						 </code></pre>
						 <ul>
							 <li>Use the ` for multi-line templates with the @Component decorator</li>
							 <li>It's all about <a href="https://egghead.io/lessons/rxjs-rxjs-observables-vs-promises">Observables</a>
								 <ul><li>Observables are lazy - code will not fire if result not used (i.e. source.forEach...)</li>
									 <li>Cancelable - observables embody the setup and also the teardown</li>

							 </ul></li>
						 </ul>
					</section>
				</section>
				<section>
					<img class="trip-photo" data-src="http://scottjbos.github.io/NgConfPresentation/img/trip-pics/9.jpg">
				</section>

				<section>
					<section>
						<h2><a href="https://cli.angular.io/">Angular CLI</a></h2>
						<img class="clingon-image" src="http://scottjbos.github.io/NgConfPresentation/img/clingon.JPG"/>
					</section>

					<section>
						<img src="http://scottjbos.github.io/NgConfPresentation/img/angularCliBarrier.PNG"/>
					</section>
					<section>
						<h2>The Angular CLI makes setup a one line</h2>
						<pre><code>
ng new heroes-app
						</code></pre>	
					</section>
					<section>
						<h2>Getting started with Angular CLI</h2>
						<pre><code>
npm install -g angular-cli
ng new heroes-app
cd heroes-app
ng serve
						</code></pre>	
					</section>
					<section>
						<h2>What else can Angular CLI do?</h2>
						<pre class="fragment"><code>
ng build
						</code></pre>	
						<pre class="fragment"><code>
ng test
						</code></pre>	
						<pre class="fragment"><code>
ng e2e
						</code></pre>
						<pre class="fragment"><code>
ng serve
						</code></pre>
						<pre class="fragment"><code>
ng deploy
						</code></pre>
					</section>
					<section>
						<a href="https://twitter.com/Brocco">Mike Brocchi</a> does a great job showing off many of the features of the <a href="https://youtu.be/wHZe6gGI5RY">Angular CLI</a>.	
					</section>
				</section>
				<section>
					<img class="trip-photo" data-src="http://scottjbos.github.io/NgConfPresentation/img/trip-pics/11.jpg">
				</section>
				
				<section>
					<section>
						<div>Angular 2 is <a href="https://universal.angular.io/">Universal</a></div>
						<img src="http://scottjbos.github.io/NgConfPresentation/img/angularUniversal.PNG"/>
					</section>
					<section>
						<img src="http://scottjbos.github.io/NgConfPresentation/img/angularUniversalGraph.PNG"/>
					</section>						
					<section>
						<div><span style="color:red;">Problem:</span> Angular 1 applications could only be rendered in a browser, which made Search Engine Optimization(SEO) difficult.</div>
						<br/>
						<div class="fragment"><span style="color:green;">Solution:</span> Angular 2 web components no longer required a browser to render.</div>
					</section>
					<section>
						<ul>
							<li class="fragment">Better Perceived Performance</li>
							<li class="fragment">First time users will instantly see a server rendered view</li>
							<li class="fragment">Optimized for Search Engines</li>
							<li class="fragment">Many search engines expect plain HTML</li>
							<li class="fragment">Ensure that Facebook, Twitter and all other social media apps correctly display a preview image of your app</li>
						</ul>
					</section>
					<section>
						<h2>Now what?</h2>
						<ul>
							<li><a href="https://universal.angular.io/">Angular Universal Documentation</a></li>
							<li><a href="https://universal.angular.io/quickstart/">Quickstart Tutorial</a></li>
							<li><a href="http://www.syntaxsuccess.com/viewarticle/server-side-rendering-in-angular-2.0">Angular Universal Blog</a></li>
						</ul>
					</section>
				</section>

				<section>
					<img class="trip-photo" data-src="http://scottjbos.github.io/NgConfPresentation/img/trip-pics/14.jpg">
				</section>

				<section>
					<h2><a href="https://material.angular.io/">Angular Material</a></h2>
					<p>Angular Material for Angular 2 is looking really good. Building out beautiful material styled applications is very easy with these material components.</p>
					<br/>
					<p><a href="https://youtu.be/rRiV_b3WsoY">Angular Material Talk</a> by <a href="https://twitter.com/karaforthewin">Kara Erickson</a></p>
				</section>
				<section>
					<img class="trip-photo" data-src="http://scottjbos.github.io/NgConfPresentation/img/trip-pics/15.jpg">
				</section>
				
				<section>
					<section>
						<h2><a href="https://mobile.angular.io/">Angular Mobile</a></h2>
						<ul>
							<li class="fragment">The Angular Mobile Toolkit will make it easy to build snappy web apps that load instantly on any device, even without an internet connection.</li>
							<li class="fragment">Progressive web apps are very interesting to many web developers out there. Build and reuse the majority of your codebase to create mobile applications with performance that can compare to native mobile apps.</li>
						</ul>
					</section>
					<section>
						<img data-src="http://scottjbos.github.io/NgConfPresentation/img/progressiveWebApps.PNG">
					</section>
					<section>
						<h2><a href="https://github.com/slightlyoff/ServiceWorker">Service Workers</a></h2>
						<p>Service Worker is a relatively new addition to the Web Platform, and is a critical component to building true Progressive Web Apps. Not only does Service Worker make it possible to make apps load without an internet connection, it also makes it possible to push notifications and updates to a user's device while the app isn't even running</p>
					</section>

					<section>
						<h2>Angular Mobile Resources</h2>
						<ul>
							<li><a href="https://youtu.be/wLWVASD0dvU">Progressive Web Apps</a> by <a href="https://twitter.com/jeffbcross">Jeff Cross</a>, Alex Rickabaugh</li>
							<li>Example application - <a href="https://github.com/angular/issue-zero">Issue Zero</a></li>
							<li><a href=https://github.com/angular/mobile-toolkit">Angular Mobile Toolkit Documentation/Guides</a></li>
							<li><a href="http://developer.telerik.com/featured/are-progressive-web-apps-future/">Are progressive Web Apps future?</a></li>
						<ul>
					</section>


				</section>
				<section>
					<section>
						<h2><a href="https://www.nativescript.org/ng-conf">NativeScript</a></h2>
						<img id="nativescript" data-src="http://scottjbos.github.io/NgConfPresentation/img/nativescript.png"/>
						<div>NativeScript is a framework for building native iOS and Android apps using JavaScript and CSS - in this case Angular 2. <span style="color: lightskyblue">NativeScript renders UIs with the native platform’s rendering engine</span> — no WebViews — resulting in native-like performance and UX.</div>
					</section>
					<section>
						<img id="nativescript-angular" data-src="http://scottjbos.github.io/NgConfPresentation/img/nativescript-angular.png"/>
						<div>The result is a software architecture that allows you to <span style="color: lightskyblue">build mobile apps using the same framework — and in some cases the same code</span> — that you use to build Angular 2 web apps, with the performance you’d expect from native code.</div>
					</section>
					<section>
						<h2>More Information?</h2>
						<ul>
							<li><a href="https://www.nativescript.org/">NativeScript Documentation</a></li>
							<li><a href="https://www.youtube.com/watch?v=R3nyG2xtzeQ">Sharing Code Between Web and Native Apps with Jen Looper, TJ VanToll</a></li>
							<li><a href="http://docs.nativescript.org/angular/tutorial/ng-chapter-0">NativeScript-Angular2 Grocery App Tutorial</a></li>
						</ul>
						</br>
						<img id="nativescript-tutorial" data-src="http://scottjbos.github.io/NgConfPresentation/img/nativescript-tutorial.png"/>
					</section>
				</section>

				<section>
					<img class="trip-photo" data-src="http://scottjbos.github.io/NgConfPresentation/img/trip-pics/7.jpg">
				</section>
				
				<section>
					<h2>Tools to write Angular 2</h2>
					<div>
						<img id="vsc-logo" data-src="http://scottjbos.github.io/NgConfPresentation/img/visualstudiocode.png"/>
						<img id="webstorm-logo" data-src="http://scottjbos.github.io/NgConfPresentation/img/WebStorm.png"/>
						<img id="intellij-logo" data-src="http://scottjbos.github.io/NgConfPresentation/img/intellij.png"/>
						<img id="vs-logo" data-src="http://scottjbos.github.io/NgConfPresentation/img/visualstudio.png"/>
					</div>
						<ul>
							<li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
							<li><a href="https://www.jetbrains.com/webstorm/">WebStorm</a></li>
							<li><a href="https://www.jetbrains.com/idea/">IntelliJ Idea</a></li>
							<li><a href="https://www.visualstudio.com/en-us/visual-studio-homepage-vs.aspx">Visual Studio</a></li>
						</ul>
				</section>

				<section>
					<section>
						<h2><a href="https://angular.io/docs/ts/latest/guide/style-guide.html">Angular 2 Style Guide</a></h2>
						<p class="fragment">The style guide is <span style="color:lightgreen;">living</span> document.</p>
						<p class="fragment">The guide tells you what to do, consider, and avoid.  And most importantly, <span style="color:orangered; font-weight: bolder;">why?</span></p>
					</section>

					<section>
						<h2>Angular 2 Style Guide Vocabulary</h2>
						<img src="http://scottjbos.github.io/NgConfPresentation/img/styleguideWording.PNG"/>
					</section>
				</section>
				
				<section>
					<section>
						<h2>But what us Angular 1.x Developers!?!</h2>
						<img src="http://scottjbos.github.io/NgConfPresentation/img/sadness-kitten.jpg"/>
					</section>

					<section>
						<img src="http://scottjbos.github.io/NgConfPresentation/img/where_there_is_a_will.jpg"/>
					</section>
					<section>
						<h2>Angular Upgrade</h2>
						<p class="fragment">What are my options?</p>
						<ul>
							<li class="fragment">Smaller apps can upgrade to straight to Angular 2</li>
							<li class="fragment">Larger Apps will need a iterative approach</li>
						</ul>
					</section>
					<section>
						<h2>Preparing for the upgrade</h2>
						<p>There are some things we can today to make upgrading our application easier:</p>
						<ul>
							<li class="fragment">Upgrade to Angular 1.5</li>
							<li class="fragment">Layer application by <b>feature/component</b>, use multiple modules</li>
							<li class="fragment">Use <code>.service()</code> instead of <code>.factory()</code></li>
							<li class="fragment">Write <b>new components</b> in ES2015 or TypeScript</li>
						</ul>
					</section>
				</section>


				<section>
					<h2>What if I want to start using Angular 2 right now in my Angular 1 App?</h2>
					<div class="fragment">You can enjoy the features of Angular 2 has to offer by using upgrade module in Angular 2.  It was designed to make the upgrade process seamless.</div>
					<ul class="fragment">
						<li><a href="https://angular.io/docs/ts/latest/guide/upgrade.html">Angular Upgrade Documentation/Guide</a></li>
						<li>Migrating Angular 1 Apps to Angular 2 by Pascal Precht & Christoph Burgdorf <a href="http://thoughtram.io/angular-upgrade-slides/#/">Slides</a> and <a href="https://github.com/thoughtram/angular-upgrade-app">Github Sample Upgrade Code</a></li>
						<li><a href="http://blog.thoughtram.io/angular/2015/10/24/upgrading-apps-to-angular-2-using-ngupgrade.html">ng-upgrade blog</a> by ThoughtRam</li>
					</ul>
				</section>

				<section>
					<img class="trip-photo" data-src="http://scottjbos.github.io/NgConfPresentation/img/trip-pics/angular2-team.jpg">
				</section>
				
				<section>
					<h2>Resources</h2>
					<ul>
						<li><a href="https://www.youtube.com/playlist?list=PLOETEcp3DkCq788xapkP_OU-78jhTf68j">ng-conf 2016 YouTube Channel</a></li>
						<li><a href="https://docs.google.com/presentation/d/1W2VM-sv-pkEY_G8HSXKhkQif8aScBtLygam6GKNroNE/edit#slide=id.p">Building Single Page Applications with Angular 2 - John Papa, Dan Wahlin (slides)</a></li>
						<li><a href="https://docs.google.com/presentation/d/1ctVafwlb8tZFYe0q_RZoLse9hU8mZzW9HhZoUBuHhAE/edit#slide=id.p">TypeScript: Angular 2's Secret Weapon - Dan Wahlin (slides)</a></li>
						<li><a href="https://angular.io/docs/ts/latest/guide/">Angular 2 Documentation</a></li>
						<li><a href="https://angular.io/styleguide">Angular 2 Style Guide</a></li>
						<li><a href="https://augury.angular.io/">Angular Augury - A Google Chrome Dev Tools Extension</a></li>
-------------------------------------------------------------------------------
						<li><a href="https://docs.google.com/presentation/d/1GII-DABSG5D7Yhik4Be5RvL6IXPt-Kg8lXFLnxkhKsU/edit#slide=id.g128d8fde34_1_2">Angular Keynote (slides - May 4th)</a></li>
						<li><a href="https://docs.google.com/presentation/d/1W0hgEQ5RwigKk4Q4dx03hUkLC7dnQnjUtdwEEK50vvA/edit#slide=id.g128d8fde34_1_2">Angular 2 Router - Misko Hevery (slides)</a></li>
-------------------------------------------------------------------------------
						<li><a href="https://github.com/mikedice/ngconf2016-slides/blob/master/ngconf-slides.md">Useful compendium of all videos, code repos, and slides</a></li>
					</ul>
				</section>

			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,
				width: 1024,
				height: 700,

//				// Parallax background image
//				parallaxBackgroundImage: 'http://scottjbos.github.io/NgConfPresentation/img/IMG_0640.JPG', // e.g. "https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg"
//
//				// Parallax background size
//				parallaxBackgroundSize: '13632px 2936px', // CSS syntax, e.g. "2100px 900px" - currently only pixels are supported (don't use % or auto)

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
